<div class="container">
    <div class="row">
        <br>
        <!---------------------------------MENU--------------------------------->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">WebWaiter <span class="glyphicon glyphicon-hand-up"></span></a>
                    <p class="navbar-text">It's XXI century.</p>
                </div><!--/.navbar-header -->
                <!------------------------------categories------------------------>
                <div class="collapse navbar-collapse" id="navbar-admin">
                    {% if categories is defined %}
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"> <span class="glyphicon glyphicon-cutlery"></span> Menu<span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-cart" role="menu">

                                    {% for category in categories %}


                                        <li>
                                            <a href="{{ path("show_meals_by_category", { 'category': category.id }) }}">{{ category.name }}</a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </li>
                        </ul>

                    {% endif %}


                    {% if not app.user %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('fos_user_security_login') }}" class="hidden-lg hidden-md"><span
                                            class="glyphicon glyphicon-lock"></span>
                                    Log
                                    In</a></li>
                            <li><a href="{{ path("fos_user_registration_register") }}" class="hidden-lg hidden-md"><span
                                            class="glyphicon glyphicon-pencil"></span>
                                    Sign Up</a></li>
                        </ul>

                    {% endif %}

                    <!---------------------------------LOGIN - SIGNUP--------------------------------->

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden-sm hidden-xs">
                                <button type="button" class="btn btn-danger navbar-btn">
                                    <a href="{{ path('fos_user_security_logout') }}" class="link-button-color"><span
                                                class="glyphicon glyphicon-log-out"></span>
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                        |{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                </button>
                            </li>
                        </ul>

                        <!----------------------------ORDER ELEMENTS INFO ON NAVBAR------------------------------->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"> <span class="glyphicon glyphicon-cutlery"></span> Your
                                    Order<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-cart" role="menu">
                                    {% if order_element is defined %}
                                    {% for element in order_element  %}
                                    <li>
                                      <span class="item">
                                            <span class="item-left">
                                                <img src="http://lorempixel.com/50/50/" alt=""/>
                                                <span class="item-info">
                                                    <span>{{ element.meals.mealName }}</span><br>
                                                </span>
                                            </span>
                                            <span class="item-right">
                                                <a href='{{ path("order_element_delete", {'id':element.id}) }}'><button class="btn btn-xs btn-danger pull-right">x</button></a>
                                            </span>
                                          <hr>
                                    </span>
                                    {% endfor %}


                                        <a href="{{ path('order_info') }}"><button type="button" class="btn btn-success center-block">Your Order</button></a>
                                        </li>

                                        {% else %}
                                            <li>
                                      <span class="item">
                                            <span class="item-left">
                                                <span class="item-info">
                                                    <span>Basket Empty</span><br>
                                                </span>
                                            </span>

                                    </span>
                                            </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}"></a>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden-sm hidden-xs">
                                <button type="button" class="btn btn-success navbar-btn">
                                    <a href="{{ path('fos_user_security_login') }}" class="link-button-color"><span
                                                class="glyphicon glyphicon-lock"></span>
                                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                </button>
                                <button type="button" class="btn btn-danger navbar-btn">
                                    <a href="{{ path("fos_user_registration_register") }}"
                                       class="link-button-color"><span
                                                class="glyphicon glyphicon-pencil"></span>
                                        {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                                </button>
                            </li>
                        </ul>
                    {% endif %}

                </div><!--/.container-fluid -->
            </div>
        </nav><!--/.navbar -->
    </div>
</div>