{% extends 'base.html.twig' %}




{% block body %}
    <div class="container">
        <div class="row">
            {% for meal in meals %}
                <div class="col-xs-12 col-sm-5 col-md-3" style="display: inline-block;">
                    <div class="productbox" style="height: 25em;">
                        <img src="http://lorempixel.com/460/250/" class="img-responsive">
                        <div class="producttitle">{{ meal.mealname }}</div>
                        {#<p class="text-justify">The place to be.</p>#}
                        <description>
                            <p class="wrap">{{ meal.description }}</p>
                        </description>


                        <div class="thumb-nail">
                            <div style="margin-top: 0.4em;">
                                <strong>Price: {{ meal.price }} $</strong><br>
                            </div>
                            {% if not app.user %}
                                <div class="pull-right">
                                    <a href="/login" class="btn btn-success btm-sm" role="button">Order <span
                                                class="glyphicon glyphicon-cutlery"></span></a>
                                </div>
                            {% elseif app.user %}

                                <div class="pull-right">
                                    <form action="{{ path("client_order_new") }}" method="POST" class="form-inline">
                                        <input type="hidden" name="meal" value="{{ meal.id }}"/>
                                        <div class="form-group">
                                            <input type="number" class="form-control" name="quantity" step="1" min="1"
                                                   value="1" required
                                                   data-fv-notempty-message="The quentity is required">
                                        </div>
                                        <div class="form-group" style="margin-top: 0.4em">
                                            <button type="submit" class="btn btn-success">Order <span
                                                        class="glyphicon glyphicon-cutlery"></span></button>
                                        </div>
                                    </form>
                                </div>

                            {% endif %}
                            <div class="pull-left">
                                <a href="#openModal" style="margin-top: 0.5em;" class="btn btn-warning btm-sm"
                                   role="button">View <span class="glyphicon glyphicon-info-sign"></span></a>

                            </div>
                        </div>

                        <!--------------------------------------------MODAL----------------------------------->
                        <div id="openModal" class="modalWindow">
                            <div>

                                <div class="modalHeader">
                                    <h2 style="color: black">{{ meal.mealname }}</h2>
                                    <p>{{ meal.category.name }}</p>
                                </div>

                                <div class="modalContent">
                                    <img src="http://lorempixel.com/460/250/" class="img-responsive">
                                    <div class="producttitle"></div>
                                    {#<p class="text-justify">The place to be.</p>#}
                                    <description>
                                        <p class="wrap">{{ meal.description }}</p>
                                    </description>
                                    <div style="margin-top: 0.4em;">
                                        <strong>Price: {{ meal.price }} $</strong><br>
                                    </div>
                                </div>

                                <div class="modalFooter">
                                    <a href="#cancel" title="Cancel" class="btn btn-danger">Close</a>
                                    <p></p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}

    {% block stylesheets %}

    {% endblock %}

