{% extends 'base.html.twig' %}

{% block body %}
    <h1>Meal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meal.id }}</td>
            </tr>
            <tr>
                <th>Mealname</th>
                <td>{{ meal.mealName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ meal.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ meal.price }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ meal.img }}</td>
            </tr>
        </tbody>
    </table>
    <div class="center">
    <img src="http://lorempixel.com/400/200/" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    </div>

{% endblock %}
